In [12]:
import numpy as np
import pandas as pd
df = pd.read_excel('SCMre.xlsx')
df

,차량 이름,"이용중인지(o,x)",차량 이용 가격,시간대,"지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)",주차장에서 이용중인 차 개수,주차장 내 차 개수,주차장 이름,km당 가격(최대),주차장_이용률
0,셀토스,X,10000.0,9.0,노원구,4.0,7.0,광운대역 주차장,210.0,0.571429
1,올뉴아반떼,O,10000.0,9.0,노원구,4.0,7.0,광운대역 주차장,200.0,0.571429
2,코나,X,10000.0,9.0,노원구,4.0,7.0,광운대역 주차장,210.0,0.571429
3,더뉴레이,X,8970.0,9.0,노원구,4.0,7.0,광운대역 주차장,190.0,0.571429
4,더뉴K3,O,10000.0,9.0,노원구,4.0,7.0,광운대역 주차장,200.0,0.571429
...,...,...,...,...,...,...,...,...,...,...
1829,2021 쏘렌토 7인승,O,36380.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,250.0,0.739130
1830,지프 레니게이드,O,32740.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,240.0,0.739130
1831,미니클럽맨,O,32740.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,250.0,0.739130
1832,2021 K5,O,31070.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,210.0,0.739130
1833,아이오닉 일렉트릭,O,27570.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,50.0,0.739130

In [13]:
df_nowon=df['지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)']=='노원구'
df_gangnam=df['지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)']=='강남구'
df.rename(columns={'지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)':'지역'}, inplace=True)
df
a=df[df_nowon]
b=df[df_gangnam]
#condition1 = (chinese.업종 == "숙박")
#df_nowon=df['지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)']=='노원구'
df_nowon=(df.지역=='노원구')
df_gangnam=(df.지역=='강남구')
#df_nowon=df['지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)']=='노원구'
#df_gangnam=df['지역(역삼동, 월계동, 여의도동, 잠실동, 종로구, 신림동, 은평동, 강서구)']=='강남구'
#print(df_nowon)
a
b

,차량 이름,"이용중인지(o,x)",차량 이용 가격,시간대,지역,주차장에서 이용중인 차 개수,주차장 내 차 개수,주차장 이름,km당 가격(최대),주차장_이용률
55,디 올뉴투싼,X,10000.0,9.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,220.0,0.62500
56,더뉴K3,X,10000.0,9.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,200.0,0.62500
57,더뉴레이,X,10000.0,9.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,190.0,0.62500
58,셀토스,X,10000.0,9.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,210.0,0.62500
59,올뉴아반떼,X,10000.0,9.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,200.0,0.62500
...,...,...,...,...,...,...,...,...,...,...
1829,2021 쏘렌토 7인승,O,36380.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,250.0,0.73913
1830,지프 레니게이드,O,32740.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,240.0,0.73913
1831,미니클럽맨,O,32740.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,250.0,0.73913
1832,2021 K5,O,31070.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,210.0,0.73913
1833,아이오닉 일렉트릭,O,27570.0,22.0,강남구,17.0,23.0,코엑스 옥상주차장,50.0,0.73913

In [14]:
import matplotlib.pyplot as plot
import matplotlib.pyplot as plt
import numpy as np
import os
if os.name == 'posix':

    plt.rc("font", family="AppleGothic")

else:

    plt.rc("font", family="Malgun Gothic")

In [10]:
nowon_9=(b['시간대']==12.0 )

'''#nowon9=(nowon_9['이용중인지(o,x)']=='o')
#nowon9=b[nowon9]
nowon9
CountStatus22 = pd.value_counts(nowon9['차량 이름'].values, sort=True) 
CountStatus22.plot.bar() 
CountStatus22.plot.bar(grid=True, figsize=(10,8), fontsize=15) '''

"#nowon9=(nowon_9['이용중인지(o,x)']=='o')\n#nowon9=b[nowon9]\nnowon9\nCountStatus22 = pd.value_counts(nowon9['차량 이름'].values, sort=True) \nCountStatus22.plot.bar() \nCountStatus22.plot.bar(grid=True, figsize=(10,8), fontsize=15) "

In [48]:
gang_9=(b['시간대']==9.0 )

In [47]:
gang9=b[gang_9]
gang_9=(gang9['이용중인지(o,x)']=='O')
#gang_x9=(gang9['이용중인지(o,x)']=='X')
gang9use=gang9[gang_9]
#gang9nouse=gang9[gang_x9]
CountStatus22 = pd.value_counts(gang9nouse['차량 이름'].values, sort=True) 
CountStatus22.plot.bar() 
CountStatus22.plot.bar(grid=True, figsize=(10,8), fontsize=15)

<ipython-input-47-026ff4b62394>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  gang9=b[gang_9]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [32]:
nowon9['차량 이름'].unique()

array(['캐스퍼', 'G80', '벤츠 C200', '더뉴그렌저', '아이오닉5', '지프 레니게이드', '미니클럽맨',
       '2021 K5', '제타', '디 올뉴스포티지', '더뉴코나', 'K8', '카니발 프레스티지 9인승',
       '2021 쏘렌토 7인승', '아이오닉 일렉트릭', '올뉴K3', '셀토스', '더뉴레이', '디 올뉴투싼',
       '쏘나타 DN8', '모닝어반', '아이오닉 EV', '올뉴아반떼', '코나EV', '밴츠 C200', '코나',
       '쏘나타 뉴라이즈', '더뉴K3', '싼타페', '더뉴아반떼', '볼트EV'], dtype=object)

In [31]:
nowon9

,차량 이름,"이용중인지(o,x)",차량 이용 가격,시간대,지역,주차장에서 이용중인 차 개수,주차장 내 차 개수,주차장 이름,km당 가격(최대),주차장_이용률
272,캐스퍼,O,10000.0,18.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,190.0,0.625000
273,G80,O,91460.0,18.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,250.0,0.625000
274,벤츠 C200,O,57880.0,18.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,250.0,0.625000
275,더뉴그렌저,O,45250.0,18.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,240.0,0.625000
276,아이오닉5,O,44570.0,18.0,강남구,10.0,16.0,현대백화점 무역센터점 별관주차장,50.0,0.625000
...,...,...,...,...,...,...,...,...,...,...
1759,더뉴레이,O,10000.0,18.0,강남구,5.0,6.0,위워크타워,190.0,0.833333
1760,올뉴아반떼,O,10000.0,18.0,강남구,5.0,6.0,위워크타워,200.0,0.833333
1761,아이오닉5,O,32450.0,18.0,강남구,5.0,6.0,위워크타워,50.0,0.833333
1762,2021 쏘렌토 7인승,O,30410.0,18.0,강남구,5.0,6.0,위워크타워,250.0,0.833333
1763,2021 K5,O,25950.0,18.0,강남구,5.0,6.0,위워크타워,210.0,0.833333

In [46]:
gang9=b[gang_9]
gang_x9=(gang9['이용중인지(o,x)']=='O')
#gang9nouse=gang9[gang_x9]
'''CountStatus22 = pd.value_counts(gang9nouse['차량 이름'].values, sort=True) 
CountStatus22.plot.bar() 
CountStatus22.plot.bar(grid=True, figsize=(10,8), fontsize=15)'''

<ipython-input-46-21559e642711>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  gang9=b[gang_9]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).